@page "/"
@using Contract.Entity
@using Newtonsoft.Json;
@using KaizenBoardFront.Components;

<MudButton Variant="Variant.Filled" Color="Color.Primary">Add Board</MudButton>
<MudTabs Elevation="1" Rounded="true" PanelClass="pa-6">
    @if (_kanbanBoards is null || _kanbanBoards.Count == 0)
    {
        <div>Pleasse add board</div>
    }
    else
    {
        @foreach (var board in _kanbanBoards)
        {
            <MudTabPanel Text=@board.Title ToolTip="ToolTip One">

                <KanbansComponent Kanbans="@board.Kanbans" />
            </MudTabPanel>
        }
    }
</MudTabs>
<SampleComponent Title="The Title" />
@code
{
    public IReadOnlyList<KanbanBoard> _kanbanBoards = null;

    private static HttpClient _client = new HttpClient
    {
        BaseAddress = new Uri("https://localhost:5001"),
    };

    protected async override Task OnInitializedAsync()
    {
        var response = await _client.GetAsync("/kaizenboard");
        var content = await response.Content.ReadAsStringAsync();
        var member = JsonConvert.DeserializeObject<Member>(content);

        _kanbanBoards = member.KanbanBoards;

        foreach(var board in _kanbanBoards)
        {
            Console.WriteLine(board);
        }
    }
}