@page "/"
@using Contract.Entity
@using Newtonsoft.Json;
@using Newtonsoft.Json.Serialization;

<MudTabs Elevation="1" Rounded="true" PanelClass="pa-6">
    @if(_kanbanBoards is null || _kanbanBoards.Count == 0)
    {
        <div>Pleasse add board</div>
        return;
    }

    @foreach (var board in _kanbanBoards)
    {
        <MudTabPanel Text=@board.Title ToolTip="ToolTip One">
            <MudText>@board.Title</MudText>
        </MudTabPanel>
    }
</MudTabs>
@code
{
    private IReadOnlyList<KanbanBoard> _kanbanBoards;

    private static HttpClient _client = new HttpClient
    {
        BaseAddress = new Uri("https://localhost:5001"),
    };

    protected async override void OnInitialized()
    {
        var response = await _client.GetAsync("/kaizenboard");
        var content = await response.Content.ReadAsStringAsync();
        var member = JsonConvert.DeserializeObject<Member>(content);

        _kanbanBoards = member.KanbanBoards;
    }
}