@page "/"
@inject HttpClient Http

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
<button @onclick="HandleClick">button</button>

@code {
    private const string ApiEndpoint = "https://localhost:5001/fetchkizenboard";

    private async Task HandleClick()
    {
        var response = await Http.GetAsync(ApiEndpoint);
        var content = await response.Content.ReadAsStringAsync();
    }
}